---
layout: default
---

<div class="home">
  <h1 class="page-heading">Index</h1>

  <ul class="isotope">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
          <img src="{{ post.image }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-description">{{ post.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  $(function() {
    $('.isotope').isotope({
      masonry: {
        columnWidth: 160,
        gutter: 20,
        isFitWidth: true
      }
    });
  });
</script>
