body {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * Primer
 */
.container {
  width: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/**
 * Site header
 */
.site-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-title {
  @extend h1;
  
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  text-shadow: 0 1px 0 #fff;

  &:hover {
    text-decoration: none;
  }
}

/**
 * Site footer
 */
.site-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.icon-twitter, .icon-github, .icon-rss {
  margin-left: 10px;
}

/**
 * Page content
 */
.home {
  margin: 0 -10px;
}

.page-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

ul.isotope {
  margin: 0 auto -20px auto;
  
  li {
    list-style-type: none;
    width: 160px;
    height: 160px;
    margin: 0 0 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;

    img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      filter: brightness(0.75);
      -webkit-filter: brightness(0.75);
      -moz-filter: brightness(0.75);
      -ms-filter: brightness(0.75);
      -o-filter: brightness(0.75);

      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
    }
    :hover img {
      filter: brightness(0.9);
      -webkit-filter: brightness(0.9);
      -moz-filter: brightness(0.9);
      -ms-filter: brightness(0.9);
      -o-filter: brightness(0.9);

      transform:scale(1.1);
      -webkit-transform:scale(1.1);
      -moz-transform:scale(1.1);
      -ms-transform:scale(1.1);
      -o-transform:scale(1.1);
    }

    .post-title {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 50%;
      margin: 0;
      padding: 5px;
      color: rgba(255, 255, 255, 0.9);
      text-align: right;
      word-break: break-word;
    }

    .post-description {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 50%;
      margin: 0;
      padding: 5px;
      color: rgba(255, 255, 255, 0.9);
      word-break: break-word;
    }
  }
}

/**
 * Posts
 */
.post {
  ul,ol {
    padding-left: 32px;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

.post-header {
  margin-bottom: 20px;

  .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
  }

  .post-meta {
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
  }
}
